{{ define "main" }}

<section class="text-gray-700 body-font dark:text-white">
  <div class="container px-5 py-8 mx-auto">
	<div class="flex flex-wrap -m-1 md:-m-2 justify-center w-full">
		<div class="grid gap-2 grid-cols-2 w-96">
			<div class="col-span-2">
				<h1 class="text-3xl font-bold my-2 text-center">{{ .Title }}</h1>
				<!-- <a href="#end"> ▼</a> -->
			</div>
			<div class="text-center col-span-1">
				<a href={{ printf "%s" $.Params.authorpage }} class="text-white" target="_blank">
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded w-full h-full">
						Author:	{{ .Params.authorname }}
					</button>
				</a>
			</div>
			<div class="col-span-1 border-2 row-span-3">
				{{ if (or .Params.Image .CurrentSection.Params.Image) }}
				<img alt="{{ .Title }}" class="object-cover h-48 m-0"
				  src="{{ (or .Params.Image .CurrentSection.Params.Image) }}" />
				{{ end }}
			</div>
			<div class="text-center col-span-1 align-middle">
				<a href={{ printf "%s" $.Params.projecthomepage }} class="text-white" target="_blank">
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded w-full h-full">
						Project homepage
					</button>
				</a>
			</div>
			<div class="text-center col-span-1">
				<a href={{ printf "%s" $.Params.csslink }} class="text-white" target="_blank">
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded w-full h-full">
						Download CSS
					</button>
				</a>
			</div>
		</div>
    </div>
	<div class="flex">
		<div class="w-1/12"></div>
		<div class="w-10/12">
			<br/>
			{{ .Content }}
			<p class="text-right">
			<!-- Print license only if it is set -->
			{{ if isset .Params "license" }}
				<a href={{ printf "%s" $.Params.license }} target="_blank">Theme license</a>
			{{ end }}
			</p>
		</div>
		<div class="w-1/12"></div>
	</div>
  </div>
</section>
<!-- <a name="end"></a> -->
{{ end }}
